.piano-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.piano {
  display: flex;
  position: relative;
  width: 1300px;
  height: 300px;
  margin-inline: auto;
  background: #ddd;
  border: 2px solid #000;
}

/* White Keys */
.key.white {
  flex: 1;
  background: white;
  border: 1px solid black;
  height: 100%;
  position: relative;
  align-content: flex-end;
  text-align: center;
  padding-bottom: 2rem;
  color: black;
}

/* Black Keys */
.key.black {
  position: absolute;
  width: 45px;
  height: 200px;
  background: black;
  top: 0;
  z-index: 1;
  border-radius: 0 0 5px 5px;
  color: white;
  text-align: center;
  align-content: flex-end;
  padding-bottom: 2rem;
}

/* Position Black Keys */
.key.black:nth-of-type(2) {
  left: 40px;
} /* Db3 */

.key.black:nth-of-type(4) {
  left: 100px;
} /* Eb3 */

.key.black:nth-of-type(7) {
  left: 220px;
} /* Gb3 */

.key.black:nth-of-type(9) {
  left: 285px;
} /* Ab3 */

.key.black:nth-of-type(11) {
  left: 350px;
} /* Bb3 */

/* Final key of the octave */

.key.black:nth-of-type(14) {
  left: 470px;
} /* Db4 */

.key.black:nth-of-type(16) {
  left: 530px;
} /* Eb4 */

.key.black:nth-of-type(19) {
  left: 655px;
} /* Gb4 */

.key.black:nth-of-type(21) {
  left: 720px;
} /* Ab4 */

.key.black:nth-of-type(23) {
  left: 780px;
} /* Bb4 */

/* Final key of the octave */

.key.black:nth-of-type(26) {
  left: 900px;
} /* Db5 */

.key.black:nth-of-type(28) {
  left: 960px;
} /* Eb5 */

.key.black:nth-of-type(31) {
  left: 1090px;
} /* Gb5 */

.key.black:nth-of-type(33) {
  left: 1150px;
} /* Gb5 */

.key.black:nth-of-type(35) {
  left: 1210px;
} /* Gb5 */
